body {
  background-image: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 32rem;
}

#digital-clock {
  padding: 50px;
  margin-left: auto;
  color: aliceblue;
  margin-right: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?auto=compress&cs=tinysrgb&w=1600");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  background-color: slategray;
  width: 500px;
  margin-top: 20%;
  font-size: 50px;
  justify-content: center;
  border: solid black 2px;
}
#ampm {
  margin-left: 20px;
}
.dots {
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
}
